@import './../../_Variables.scss';
@import './_Responsive.scss';
@import './../../_mixins.scss';

#header {
  height: 100vh;
  width: 100%;
  padding: 38px 35px;
  position: relative;
  overflow: hidden;
  background-color: $header-bgc;

  .header__container {
    .header__toprow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .header__logo {
        z-index: 2;
        .header__logo--link {
        }

        .header__logo--image {
        }
      }

      .header__nav {
        width: 541px;
        z-index: 2;
        margin: 0 10px;

        @media screen and (max-width: $TabletScreen) {
          display: flex;
          justify-content: end;
        }

        .header__nav__list {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .header__nav__list--item {
            .header__nav__list--link {
              color: #fff;
              font-family: $secondary-ff;
              transition: all 0.5s ease-in-out;

              &.active {
                color: $primary-textColor;
              }

              &:hover {
                color: $primary-textColor;
              }
            }
          }

          @media screen and (max-width: $TabletScreen) {
            display: none;
          }
        }
      }

      .header__btn {
        @include buttonColors(#fff, $primary-textColor);
        min-width: 159px;
        z-index: 2;

        @media screen and (max-width: $MobileScreen) {
          display: none;
        }

        svg {
          margin-left: 10px;
        }

        &:hover {
          background-color: #ecebeb;
        }
      }
    }

    .header__main {
      margin: 80px 0 60px;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $TabletScreen) {
        margin: 15px 0 19px;
      }

      @media screen and (max-width: $XSScreen) {
        margin: 130px 0 0;
      }

      .header__main__left {
        max-width: 277px;
        margin-left: 65px;
        z-index: 2;

        @media screen and (max-width: $TabletScreen) {
          margin-left: 0;
          max-width: 165px;
        }

        @media screen and (max-width: $XSScreen) {
          max-width: 213px;
        }

        .header__main__left--title {
          font-size: 38px;
          text-transform: uppercase;
          line-height: 43px;
          margin-bottom: 25px;

          @media screen and (max-width: $TabletScreen) {
            font-size: 22px;
            line-height: 25px;
            margin-bottom: 20px;
          }

          @media screen and (max-width: $XSScreen) {
            font-size: 26px;
            line-height: 29px;
          }

          span {
            color: $primary-textColor;
            font-size: 58px;
            line-height: 52px;

            @media screen and (max-width: $TabletScreen) {
              font-size: 34px;
              line-height: 30px;
            }

            @media screen and (max-width: $XSScreen) {
              font-size: 48px;
              line-height: 45px;
            }
          }
        }

        .header__main__left__buttons {
          .header__main__left__buttons--btn {
            padding: 10px 20px;
            border-radius: 20px;
            transition: all 0.35s ease-in;

            @media screen and (max-width: $TabletScreen) {
              font-size: 8px;
              line-height: 10px;
              padding: 7px 15px;
            }

            &:first-child {
              margin-right: 15px;

              @media screen and (max-width: $TabletScreen) {
                margin-right: 8px;
              }
            }

            &.btn--primary {
              &:hover {
                background-color: #c7133e;
              }
            }

            &.btn--secondary {
              &:hover {
                background-color: #ecebeb;
              }
            }
          }
        }
      }

      .header__main__right {
        @media screen and (max-width: $XSScreen) {
          display: none;
        }

        .header__main__right__numbers {
          text-align: right;
          position: relative;
          z-index: 2;

          &--number {
            display: block;
            color: $primary-textColor;
            font-size: 46px;
            line-height: 52px;
            letter-spacing: 0.04em;

            @media screen and (max-width: $TabletScreen) {
              font-size: 28px;
              line-height: 15px;
            }
          }

          &--text {
            color: #fff;
            font-size: 14px;
            font-family: $secondary-ff;

            @media screen and (max-width: $TabletScreen) {
              font-size: 8px;
              line-height: 10px;
            }
          }

          &:first-child {
            margin-bottom: 20px;
          }

          &::before {
            content: '';
            width: 30px;
            height: 30px;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            right: -15px;
            top: -5px;
            z-index: -1;

            @media screen and (max-width: $TabletScreen) {
              height: 16px;
              width: 16px;
              right: -9px;
              top: -11px;
            }
          }
        }
      }
    }

    .header__bottomrow {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;

      @media screen and (max-width: $XSScreen) {
        display: none;
      }

      .header__bottomrow__left {
        display: flex;
        align-items: center;
        z-index: 2;

        .header__bottomrow__left__image {
          &--img {
            @media screen and (max-width: $TabletScreen) {
              width: 124px;
              height: 126px;
            }
          }
        }

        .header__bottomrow__left__text {
          max-width: 200px;

          @media screen and (max-width: $TabletScreen) {
            max-width: 114px;
          }

          &--para {
            font-family: $secondary-ff;
            line-height: 19px;
            font-size: 14px;
            margin-bottom: 20px;

            @media screen and (max-width: $TabletScreen) {
              font-size: 8px;
              line-height: 12px;
            }
          }

          &--arrow {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background: url('http://127.0.0.1:5500/assets/img/arrow-right.png') center center
              no-repeat;

            @media screen and (max-width: $TabletScreen) {
              width: 18px;
              height: 18px;
            }
          }
        }
      }

      .header__bottomrow__right {
        z-index: 2;
        position: absolute;
        bottom: -15%;
        right: 3%;
        width: 293px;
        height: 232px;
        animation: header-anim 2s;

        @media screen and (max-width: $TabletScreen) {
          width: 168px;
          height: 133px;
        }

        @media screen and (max-width: $MobileScreen) {
          display: none;
        }

        &--img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }

  .header__icecream {
    width: 538px;
    height: 538px;
    border-radius: 50%;
    position: absolute;
    left: 38%;
    top: 108px;
    background-color: #ffa5ba;
    z-index: 1;

    @media screen and (max-width: $TabletScreen) {
      height: 324px;
      width: 322px;
      left: 37%;
      top: 31px;
    }

    @media screen and (max-width: $XSScreen) {
      height: 346px;
      width: 344px;
      left: 10%;
      top: 83px;
    }

    img {
      position: relative;
      top: 15%;
      left: 13%;

      @media screen and (max-width: $TabletScreen) {
        height: 336px;
        width: 144px;
        left: 20%;
        bottom: 0;
      }

      @media screen and (max-width: $XSScreen) {
        height: 410px;
        width: 171px;
        left: 25%;
        top: 10px;
      }
    }
  }

  @media screen and (max-width: $TabletScreen) {
    height: 400px;
  }

  @media screen and (max-width: $MobileScreen) {
    padding: 20px 25px;
  }

  @media screen and (max-width: $XSScreen) {
    height: 502px;
    padding: 5px 20px 0;
  }
}

@keyframes header-anim {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
