@import './../../_Variables.scss';

@media screen and (max-width: $TabletScreen) {
  .header__nav {
    .header__nav__hamburger {
      width: 20px;
      height: 15px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-right: 30px;

      .line {
        width: 100%;
        background-color: $primaryColor;
        height: 0.15rem;
        display: block;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header__nav__hamburger {
    margin-right: 0 !important;
  }
}
