@import './../../variables.scss';

@media screen and (max-width: $TabletScreen) {
  header#header {
    height: 400px;
  }
  .header__nav {
    display: flex;
    justify-content: end;

    .header__nav__hamburger {
      width: 20px;
      height: 15px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-right: 30px;

      .line {
        width: 100%;
        background-color: $primaryColor;
        height: 0.15rem;
        display: block;
      }
    }
  }
}
