$header-bgc: #ffb8ca;
$secondary-ff: 'DM Sans';
$primary-ff: 'Titan One';

$primary-textColor: #d41443;
$primaryColor: #d41443;

$XSScreen: 320px;
$MobileScreen: 480px;
$TabletScreen: 768px;
$DesktopScreen: 1280px;

$NavbarColor: #e17992;

$LabelPrimaryColor: #ffa5ba;
