* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Titan One";
  color: white;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn {
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  border-radius: 22px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 12px 10px;
  line-height: 20px;
}

.btn svg {
  margin-left: 10px;
}

.btn--primary {
  color: #fff;
  background-color: #d41443;
}

.btn--secondary {
  color: #d41443;
  background-color: #fff;
}

span.label {
  display: block;
  color: #ffa5ba;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.04em;
  margin-bottom: 15px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  span.label {
    font-size: 26px;
    line-height: 29px;
    margin-bottom: 13px;
  }
}

@media screen and (max-width: 480px) {
  span.label {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

h1.title {
  font-size: 58px;
  line-height: 66px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (max-width: 768px) {
  h1.title {
    font-size: 48px;
    line-height: 54px;
  }
}

@media screen and (max-width: 480px) {
  h1.title {
    font-size: 34px;
    line-height: 38px;
  }
}

.footer__copyright {
  text-align: center;
  border-top: 1px solid #e1e1e1;
  color: #907e82;
  padding: 10px 0;
  font-family: "DM Sans";
  background-color: #fff5f6;
}

@media screen and (max-width: 768px) {
  .header__nav .header__nav__hamburger {
    width: 20px;
    height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 30px;
  }
  .header__nav .header__nav__hamburger .line {
    width: 100%;
    background-color: #d41443;
    height: 0.15rem;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .header__nav__hamburger {
    margin-right: 0 !important;
  }
}

#header {
  height: 100vh;
  width: 100%;
  padding: 38px 35px;
  position: relative;
  overflow: hidden;
  background-color: #ffb8ca;
}

#header .header__container .header__toprow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#header .header__container .header__toprow .header__logo {
  z-index: 2;
}

#header .header__container .header__toprow .header__nav {
  width: 541px;
  z-index: 2;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  #header .header__container .header__toprow .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

#header .header__container .header__toprow .header__nav .header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header .header__container .header__toprow .header__nav .header__nav__list .header__nav__list--item .header__nav__list--link {
  color: #fff;
  font-family: "DM Sans";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#header .header__container .header__toprow .header__nav .header__nav__list .header__nav__list--item .header__nav__list--link.active {
  color: #d41443;
}

#header .header__container .header__toprow .header__nav .header__nav__list .header__nav__list--item .header__nav__list--link:hover {
  color: #d41443;
}

@media screen and (max-width: 768px) {
  #header .header__container .header__toprow .header__nav .header__nav__list {
    display: none;
  }
}

#header .header__container .header__toprow .header__btn {
  background-color: #fff;
  color: #d41443;
  min-width: 159px;
  z-index: 2;
}

@media screen and (max-width: 480px) {
  #header .header__container .header__toprow .header__btn {
    display: none;
  }
}

#header .header__container .header__toprow .header__btn svg {
  margin-left: 10px;
}

#header .header__container .header__toprow .header__btn:hover {
  background-color: #ecebeb;
}

#header .header__container .header__main {
  margin: 80px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  #header .header__container .header__main {
    margin: 15px 0 19px;
  }
}

@media screen and (max-width: 320px) {
  #header .header__container .header__main {
    margin: 130px 0 0;
  }
}

#header .header__container .header__main .header__main__left {
  max-width: 277px;
  margin-left: 65px;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  #header .header__container .header__main .header__main__left {
    margin-left: 0;
    max-width: 165px;
  }
}

@media screen and (max-width: 320px) {
  #header .header__container .header__main .header__main__left {
    max-width: 213px;
  }
}

#header .header__container .header__main .header__main__left .header__main__left--title {
  font-size: 38px;
  text-transform: uppercase;
  line-height: 43px;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  #header .header__container .header__main .header__main__left .header__main__left--title {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  #header .header__container .header__main .header__main__left .header__main__left--title {
    font-size: 26px;
    line-height: 29px;
  }
}

#header .header__container .header__main .header__main__left .header__main__left--title span {
  color: #d41443;
  font-size: 58px;
  line-height: 52px;
}

@media screen and (max-width: 768px) {
  #header .header__container .header__main .header__main__left .header__main__left--title span {
    font-size: 34px;
    line-height: 30px;
  }
}

@media screen and (max-width: 320px) {
  #header .header__container .header__main .header__main__left .header__main__left--title span {
    font-size: 48px;
    line-height: 45px;
  }
}

#header .header__container .header__main .header__main__left .header__main__left__buttons .header__main__left__buttons--btn {
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}

@media screen and (max-width: 768px) {
  #header .header__container .header__main .header__main__left .header__main__left__buttons .header__main__left__buttons--btn {
    font-size: 8px;
    line-height: 10px;
    padding: 7px 15px;
  }
}

#header .header__container .header__main .header__main__left .header__main__left__buttons .header__main__left__buttons--btn:first-child {
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  #header .header__container .header__main .header__main__left .header__main__left__buttons .header__main__left__buttons--btn:first-child {
    margin-right: 8px;
  }
}

#header .header__container .header__main .header__main__left .header__main__left__buttons .header__main__left__buttons--btn.btn--primary:hover {
  background-color: #c7133e;
}

#header .header__container .header__main .header__main__left .header__main__left__buttons .header__main__left__buttons--btn.btn--secondary:hover {
  background-color: #ecebeb;
}

@media screen and (max-width: 320px) {
  #header .header__container .header__main .header__main__right {
    display: none;
  }
}

#header .header__container .header__main .header__main__right .header__main__right__numbers {
  text-align: right;
  position: relative;
  z-index: 2;
}

#header .header__container .header__main .header__main__right .header__main__right__numbers--number {
  display: block;
  color: #d41443;
  font-size: 46px;
  line-height: 52px;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 768px) {
  #header .header__container .header__main .header__main__right .header__main__right__numbers--number {
    font-size: 28px;
    line-height: 15px;
  }
}

#header .header__container .header__main .header__main__right .header__main__right__numbers--text {
  color: #fff;
  font-size: 14px;
  font-family: "DM Sans";
}

@media screen and (max-width: 768px) {
  #header .header__container .header__main .header__main__right .header__main__right__numbers--text {
    font-size: 8px;
    line-height: 10px;
  }
}

#header .header__container .header__main .header__main__right .header__main__right__numbers:first-child {
  margin-bottom: 20px;
}

#header .header__container .header__main .header__main__right .header__main__right__numbers::before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: -5px;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  #header .header__container .header__main .header__main__right .header__main__right__numbers::before {
    height: 16px;
    width: 16px;
    right: -9px;
    top: -11px;
  }
}

#header .header__container .header__bottomrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

@media screen and (max-width: 320px) {
  #header .header__container .header__bottomrow {
    display: none;
  }
}

#header .header__container .header__bottomrow .header__bottomrow__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  #header .header__container .header__bottomrow .header__bottomrow__left .header__bottomrow__left__image--img {
    width: 124px;
    height: 126px;
  }
}

#header .header__container .header__bottomrow .header__bottomrow__left .header__bottomrow__left__text {
  max-width: 200px;
}

@media screen and (max-width: 768px) {
  #header .header__container .header__bottomrow .header__bottomrow__left .header__bottomrow__left__text {
    max-width: 114px;
  }
}

#header .header__container .header__bottomrow .header__bottomrow__left .header__bottomrow__left__text--para {
  font-family: "DM Sans";
  line-height: 19px;
  font-size: 14px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  #header .header__container .header__bottomrow .header__bottomrow__left .header__bottomrow__left__text--para {
    font-size: 8px;
    line-height: 12px;
  }
}

#header .header__container .header__bottomrow .header__bottomrow__left .header__bottomrow__left__text--arrow {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: url("http://127.0.0.1:5500/assets/img/arrow-right.png") center center no-repeat;
}

@media screen and (max-width: 768px) {
  #header .header__container .header__bottomrow .header__bottomrow__left .header__bottomrow__left__text--arrow {
    width: 18px;
    height: 18px;
  }
}

#header .header__container .header__bottomrow .header__bottomrow__right {
  z-index: 2;
  position: absolute;
  bottom: -15%;
  right: 3%;
  width: 293px;
  height: 232px;
  -webkit-animation: header-anim 2s;
          animation: header-anim 2s;
}

@media screen and (max-width: 768px) {
  #header .header__container .header__bottomrow .header__bottomrow__right {
    width: 168px;
    height: 133px;
  }
}

@media screen and (max-width: 480px) {
  #header .header__container .header__bottomrow .header__bottomrow__right {
    display: none;
  }
}

#header .header__container .header__bottomrow .header__bottomrow__right--img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#header .header__icecream {
  width: 538px;
  height: 538px;
  border-radius: 50%;
  position: absolute;
  left: 38%;
  top: 52px;
  background-color: #ffa5ba;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  #header .header__icecream {
    height: 324px;
    width: 322px;
    left: 37%;
    top: 31px;
  }
}

@media screen and (max-width: 320px) {
  #header .header__icecream {
    height: 346px;
    width: 344px;
    left: 10%;
    top: 83px;
  }
}

#header .header__icecream img {
  position: relative;
  top: 15%;
  left: 13%;
}

@media screen and (max-width: 768px) {
  #header .header__icecream img {
    height: 336px;
    width: 144px;
    left: 20%;
    bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  #header .header__icecream img {
    height: 410px;
    width: 171px;
    left: 25%;
    top: 10px;
  }
}

@media screen and (max-width: 768px) {
  #header {
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  #header {
    padding: 20px 25px;
  }
}

@media screen and (max-width: 320px) {
  #header {
    height: 502px;
    padding: 5px 20px 0;
  }
}

@-webkit-keyframes header-anim {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes header-anim {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

#products {
  color: #333;
  padding: 122px 35px;
}

@media screen and (max-width: 480px) {
  #products {
    padding: 122px 20px;
  }
}

#products .products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#products .products__container .products__heading {
  text-align: center;
  margin-bottom: 175px;
}

@media screen and (max-width: 600px) {
  #products .products__container .products__heading {
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 768px) {
  #products .products__container .products__heading--label {
    margin-bottom: 15px;
  }
}

#products .products__container .products__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  #products .products__container .products__catalog {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#products .products__container .products__catalog__item {
  max-width: 329px;
  height: 525px;
  border-radius: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 44px 50px;
  -ms-flex-preferred-size: 32.3%;
      flex-basis: 32.3%;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  #products .products__container .products__catalog__item {
    max-width: 220px;
    height: 485px;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    padding: 0 10px 40px;
  }
}

@media screen and (max-width: 640px) {
  #products .products__container .products__catalog__item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  #products .products__container .products__catalog__item:last-child {
    margin-top: 130px;
  }
}

@media screen and (max-width: 480px) {
  #products .products__container .products__catalog__item {
    max-width: 280px;
    height: 485px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0 35px 40px;
    margin-bottom: 135px;
    margin-right: 0;
  }
  #products .products__container .products__catalog__item:last-child {
    margin-top: 0;
  }
}

#products .products__container .products__catalog__item::before {
  content: '';
  width: 225px;
  height: 226px;
  position: absolute;
  top: -30%;
}

@media screen and (max-width: 480px) {
  #products .products__container .products__catalog__item::before {
    top: -20%;
  }
}

#products .products__container .products__catalog__item.item-1 {
  background-color: #ffb8ca;
}

#products .products__container .products__catalog__item.item-1:before {
  background: url("https://acidrixxxon.github.io/icecream/assets/img/product1-bg.png") center center no-repeat;
}

#products .products__container .products__catalog__item.item-2 {
  background-color: #f0d1a5;
}

#products .products__container .products__catalog__item.item-2:before {
  background: url("https://acidrixxxon.github.io/icecream/assets/img/product2-bg.png") center center no-repeat;
}

#products .products__container .products__catalog__item.item-3 {
  background-color: #c2e297;
  margin-right: 0;
}

#products .products__container .products__catalog__item.item-3:before {
  background: url("https://acidrixxxon.github.io/icecream/assets/img/product3-bg.png") center center no-repeat;
}

#products .products__container .products__catalog__item .product__catalog__item--title {
  font-size: 30px;
  color: #fff;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 32px;
  text-align: center;
}

#products .products__container .products__catalog__item .product__catalog__item--title:after {
  content: '...';
  display: block;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  #products .products__container .products__catalog__item .product__catalog__item--title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 65px;
  }
}

#products .products__container .products__catalog__item .product__catalog__item--para {
  text-align: center;
  margin-bottom: 60px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.04em;
  font-family: "DM Sans";
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #products .products__container .products__catalog__item .product__catalog__item--para {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}

#products .products__container .products__catalog__item--arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url("https://acidrixxxon.github.io/icecream/assets/img/arrow-right.png") center center no-repeat;
  background-size: cover;
}

.navbar {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 254px;
  height: 1020px;
  background-color: #e17992;
  position: absolute;
  right: -254px;
  opacity: 0;
  top: 0;
  z-index: 4;
}

@media screen and (max-width: 320px) {
  .navbar {
    width: 100%;
    right: -100%;
  }
}

.navbar.show {
  display: block;
  right: 0;
  opacity: 1;
}

.navbar .navbar__buttons {
  padding: 23px 34px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .navbar__buttons .navbar__buttons--closeBtn {
  cursor: pointer;
  margin-bottom: 23px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .navbar__buttons .navbar__buttons--closeBtn svg {
  fill: #fff;
}

.navbar .navbar__buttons .navbar__buttons--closeBtn:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navbar .navbar__buttons .navbar__buttons--btn {
  background-color: #fff;
  color: #d41443;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.navbar .navbar__buttons .navbar__buttons--btn:hover {
  background-color: #ecebeb;
}

.navbar .navbar__menu--item {
  padding: 13px 24px;
  border-top: 1px solid #e18298;
}

.navbar .navbar__menu--item:last-child {
  border-bottom: 1px solid #e18298;
}

.navbar .navbar__menu--item .navbar__menu--link {
  font-size: 14px;
  line-height: 18px;
}

.navbar .navbar__menu--item .navbar__menu--link.active {
  color: #d41443;
}

@media screen and (max-width: 320px) {
  .navbar {
    width: 100%;
    right: -100%;
  }
}

@-webkit-keyframes show {
  0% {
    display: none;
    right: -254px;
    opacity: 0;
  }
  10% {
    display: -webkit-box;
    display: flex;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes show {
  0% {
    display: none;
    right: -254px;
    opacity: 0;
  }
  10% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

#about {
  color: #333;
  background: #fff5f6;
  position: relative;
}

#about .about__container {
  padding: 125px 115px 100px;
}

@media screen and (max-width: 768px) {
  #about .about__container {
    padding: 125px 40px 100px;
  }
}

@media screen and (max-width: 480px) {
  #about .about__container {
    padding: 125px 20px 30px;
  }
}

@media screen and (max-width: 330px) {
  #about .about__container {
    padding: 125px 20px 20px;
  }
}

#about .about__container .about__heading {
  text-align: center;
  margin-bottom: 55px;
}

@media screen and (max-width: 480px) {
  #about .about__container .about__heading {
    margin-bottom: 25px;
  }
}

#about .about__container .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("http://127.0.0.1:5500/assets/img/about-bg.png") center center no-repeat;
}

@media screen and (max-width: 768px) {
  #about .about__container .about__content {
    margin-bottom: 65px;
  }
}

@media screen and (max-width: 480px) {
  #about .about__container .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
}

#about .about__container .about__content .about__content__left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  max-width: 516px;
  height: 516px;
  margin-right: 45px;
}

@media screen and (max-width: 768px) {
  #about .about__container .about__content .about__content__left {
    margin-right: 15px;
    height: 340px;
    max-width: 340px;
  }
}

@media screen and (max-width: 480px) {
  #about .about__container .about__content .about__content__left {
    margin-right: 0;
    height: 280px;
    max-width: 280px;
    margin-bottom: 45px;
  }
}

#about .about__container .about__content .about__content__left--image {
  width: 100%;
  height: auto;
}

#about .about__container .about__content .about__content__right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#about .about__container .about__content .about__content__right--para {
  font-family: "DM Sans";
}

#about .about__container .about__content .about__content__right--para:first-child {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #000000;
}

@media screen and (max-width: 768px) {
  #about .about__container .about__content .about__content__right--para:first-child {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 480px) {
  #about .about__container .about__content .about__content__right--para:first-child {
    font-size: 12px;
  }
}

#about .about__container .about__content .about__content__right--para:nth-child(2), #about .about__container .about__content .about__content__right--para:nth-child(3) {
  font-size: 14px;
  line-height: 27px;
  color: #907e82;
}

@media screen and (max-width: 768px) {
  #about .about__container .about__content .about__content__right--para:nth-child(2), #about .about__container .about__content .about__content__right--para:nth-child(3) {
    line-height: 24px;
  }
}

@media screen and (max-width: 480px) {
  #about .about__container .about__content .about__content__right--para:nth-child(2), #about .about__container .about__content .about__content__right--para:nth-child(3) {
    font-size: 12px;
  }
}

#about .about__container .about__content .about__content__right--para:first-child, #about .about__container .about__content .about__content__right--para:nth-child(2) {
  margin-bottom: 35px;
}

@media screen and (max-width: 768px) {
  #about .about__container .about__content .about__content__right--para:first-child, #about .about__container .about__content .about__content__right--para:nth-child(2) {
    margin-bottom: 25px;
  }
}

#about .about__container .about__content .about__content__right--para:nth-child(3) {
  margin-bottom: 45px;
}

@media screen and (max-width: 768px) {
  #about .about__container .about__content .about__content__right--para:nth-child(3) {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 480px) {
  #about .about__container .about__content .about__content__right--para:nth-child(3) {
    margin-bottom: 30px;
  }
}

#about .about__container .about__content .about__content__right--btn {
  width: 178px;
  background-color: #fff;
  color: #d41443;
}

#about .about__container .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 480px) {
  #about .about__container .about__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#about .about__container .about__info__item {
  max-width: 330px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  #about .about__container .about__info__item {
    max-width: 180px;
    margin-right: 60px;
  }
}

@media screen and (max-width: 480px) {
  #about .about__container .about__info__item {
    margin-right: 0;
    max-width: 230px;
    margin-bottom: 35px;
  }
}

#about .about__container .about__info__item--icon {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  #about .about__container .about__info__item--icon {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 480px) {
  #about .about__container .about__info__item--icon {
    margin-bottom: 0px;
  }
}

#about .about__container .about__info__item--number {
  color: #d41443;
  font-size: 58px;
  line-height: 66px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  #about .about__container .about__info__item--number {
    font-size: 48px;
    line-height: 54px;
  }
}

@media screen and (max-width: 480px) {
  #about .about__container .about__info__item--number {
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 0;
  }
}

#about .about__container .about__info__item--text {
  font-family: "DM Sans";
  color: #000000;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 0.02em;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #about .about__container .about__info__item--text {
    font-size: 14px;
    line-height: 174%;
  }
}

@media screen and (max-width: 480px) {
  #about .about__container .about__info__item--text {
    font-size: 12px;
    line-height: 170%;
  }
}

#about .about__container .about__info__item:last-child {
  margin-right: 0;
}

#gallery .gallery__container img {
  width: 100%;
}

#reviews {
  padding: 120px 117px 230px;
  color: #333;
}

@media screen and (max-width: 768px) {
  #reviews {
    padding: 120px 74px 200px;
  }
}

@media screen and (max-width: 480px) {
  #reviews {
    padding: 80px 20px 170px;
  }
}

#reviews .reviews__container .reviews__review {
  max-width: 926px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#reviews .reviews__container .reviews__review .reviews__review--avatar {
  margin-bottom: 15px;
  display: none;
}

#reviews .reviews__container .reviews__review .reviews__review--avatar.show {
  display: inline;
  -webkit-animation: smooth-show 2s;
          animation: smooth-show 2s;
}

#reviews .reviews__container .reviews__review .reviews__review--avatar.hide {
  -webkit-animation: smooth-hide 2s;
          animation: smooth-hide 2s;
}

#reviews .reviews__container .reviews__review .reviews__review__content {
  background-color: #fafafa;
  padding: 45px 60px 30px;
  width: 100%;
  margin-bottom: 35px;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  #reviews .reviews__container .reviews__review .reviews__review__content {
    padding: 45px 35px 30px;
  }
}

#reviews .reviews__container .reviews__review .reviews__review__content--para {
  text-align: center;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.04em;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 40px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #reviews .reviews__container .reviews__review .reviews__review__content--para {
    padding: 0 20px;
  }
}

#reviews .reviews__container .reviews__review .reviews__review__content--para:first-child::before {
  content: '';
  position: absolute;
  width: 54px;
  height: 40px;
  left: -10px;
  top: 0;
  background: url("http://127.0.0.1:5500/assets/img/dounleq.png");
}

#reviews .reviews__container .reviews__review .reviews__review--author {
  margin-bottom: 35px;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
}

#reviews .reviews__container .reviews__pagination {
  text-align: center;
}

#reviews .reviews__container .reviews__pagination .reviews__pagination--item {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

#reviews .reviews__container .reviews__pagination .reviews__pagination--item.active:before {
  content: '';
  background: url("http://127.0.0.1:5500/assets/img/pagination-active.png") center center no-repeat;
  display: block;
  width: 12px;
  height: 12px;
}

@-webkit-keyframes smooth-show {
  0% {
    opacity: 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes smooth-show {
  0% {
    opacity: 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes smooth-hide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0;
  }
}

@keyframes smooth-hide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0;
  }
}

#contacts {
  color: #333;
  background-color: #fff5f6;
  padding: 0 115px 150px;
}

@media screen and (max-width: 768px) {
  #contacts {
    padding: 0 35px;
  }
}

@media screen and (max-width: 600px) {
  #contacts {
    padding: 0 50px;
  }
}

#contacts .contacts__container {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacts .contacts__container .contacts__address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 85px;
}

@media screen and (max-width: 768px) {
  #contacts .contacts__container .contacts__address-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  #contacts .contacts__container .contacts__address-list {
    margin-bottom: 50px;
  }
}

#contacts .contacts__container .contacts__address-list .contacts__address-list__item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  max-width: 330px;
  margin-right: 30px;
  background-color: #fff;
  padding: 50px 40px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  font-family: "DM Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 16px;
  line-height: 186%;
}

@media screen and (max-width: 600px) {
  #contacts .contacts__container .contacts__address-list .contacts__address-list__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: none !important;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  #contacts .contacts__container .contacts__address-list .contacts__address-list__item {
    max-width: 220px;
    padding: 50px 30px;
    margin-bottom: 20px;
  }
  #contacts .contacts__container .contacts__address-list .contacts__address-list__item:last-child {
    margin-top: 20;
  }
}

@media screen and (max-width: 480px) {
  #contacts .contacts__container .contacts__address-list .contacts__address-list__item {
    font-size: 12px;
    padding: 43px 20px;
  }
}

#contacts .contacts__container .contacts__address-list .contacts__address-list__item:last-child {
  margin-right: 0;
}

#contacts .contacts__container .contacts__address-list .contacts__address-list__item .contacts__address-list__item--type {
  text-transform: uppercase;
  padding: 6px 12px;
  color: #fff;
  background-color: #f0d1a5;
  border-radius: 6px;
  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  #contacts .contacts__container .contacts__address-list .contacts__address-list__item .contacts__address-list__item--type {
    margin-bottom: 25px;
  }
}

#contacts .contacts__container .contacts__address-list .contacts__address-list__item .contacts__address-list__item--type:nth-child(2) {
  background-color: #c2e297;
}

#contacts .contacts__container .contacts__address-list .contacts__address-list__item .contacts__address-list__item--city {
  margin-bottom: 10px;
}

#contacts .contacts__container .contacts__address-list .contacts__address-list__item .contacts__address-list__item--caption {
  line-height: 183%;
  color: #907e82;
}

#contacts .contacts__container .contacts__address-list .contacts__address-list__item .contacts__address-list__item__schedule {
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  padding: 32px 0;
  border-top: 1px solid #e1e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0;
}

@media screen and (max-width: 480px) {
  #contacts .contacts__container .contacts__address-list .contacts__address-list__item .contacts__address-list__item__schedule {
    padding: 25px 0;
    margin: 25px 0;
  }
}

#contacts .contacts__container .contacts__address-list .contacts__address-list__item .contacts__address-list__item__schedule span:nth-child(2) {
  margin-bottom: 15px;
}

#contacts .contacts__container .contacts__address-list .contacts__address-list__item .contacts__address-list__item__schedule .contacts__address-list__item__schedule-time {
  color: #ffa5ba;
}

#contacts .contacts__container .contacts__address-list .contacts__address-list__item .contacts__address-list__item--phone {
  color: #907e82;
}

#contacts .contacts__container .contacts__address-list .contacts__address-list__item .contacts__address-list__item--email {
  color: #907e82;
}

@media screen and (max-width: 480px) {
  #contacts .contacts__container .contacts__buttons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#contacts .contacts__container .contacts__buttons-list .contacts__buttons-list--btn {
  padding: 14px 35px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#contacts .contacts__container .contacts__buttons-list .contacts__buttons-list--btn:first-child {
  background-color: #d41342;
  color: #fff;
  margin-right: 15px;
}

@media screen and (max-width: 480px) {
  #contacts .contacts__container .contacts__buttons-list .contacts__buttons-list--btn:first-child {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

#contacts .contacts__container .contacts__buttons-list .contacts__buttons-list--btn:last-child {
  background-color: #fff;
  color: #d41443;
}

#contacts .contacts__container .contacts__buttons-list .contacts__buttons-list--btn:last-child:hover {
  background: #ecebeb;
}

#footer {
  background-color: #fff5f6;
  padding: 0 115px 100px;
}

@media screen and (max-width: 768px) {
  #footer {
    padding: 0 35px 100px;
  }
}

@media screen and (max-width: 768px) {
  #footer {
    padding: 0 20px 40px;
  }
}

#footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 600px) {
  #footer .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  #footer .footer__container .footer__left {
    margin-bottom: 50px;
  }
}

#footer .footer__container .footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .footer__container .footer__right .footer__right__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#footer .footer__container .footer__right .footer__right__social-list--item {
  margin-left: 25px;
}

#footer .footer__container .footer__right .footer__right__social-list--item:first-child {
  margin-left: 0;
}

#footer .footer__container .footer__right .footer__right__social-list--item svg circle {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#footer .footer__container .footer__right .footer__right__social-list--item:hover svg circle {
  fill: #d41443;
}

#footer .footer__container .footer__right .footer__right__contacts {
  color: #000000;
  font-family: "DM Sans";
}

@media screen and (max-width: 480px) {
  #footer .footer__container .footer__right .footer__right__contacts {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */