* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  font-family: "Titan One";
  color: white;
}

.container {
  margin: 0 auto;
}

.btn--primary {
  color: #fff;
  background-color: #d41443;
}

.btn--secondary {
  color: #d41443;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  header#header {
    height: 400px;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .header__nav .header__nav__hamburger {
    width: 20px;
    height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 30px;
  }
  .header__nav .header__nav__hamburger .line {
    width: 100%;
    background-color: #d41443;
    height: 0.15rem;
    display: block;
  }
}

header#header {
  height: 100vh;
  width: 100%;
  padding: 38px 35px;
  position: relative;
  overflow: hidden;
  background-color: #ffb8ca;
}

@media screen and (max-width: 768px) {
  header#header {
    height: 400px;
  }
}

header#header .header__container {
  max-width: 1120px;
  width: 100%;
}

header#header .header__container .header__toprow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header#header .header__container .header__toprow .header__nav {
  width: 541px;
  z-index: 2;
  margin: 0 10px;
}

header#header .header__container .header__toprow .header__nav .header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header#header .header__container .header__toprow .header__nav .header__nav__list .header__nav__list--item .header__nav__list--link {
  color: #fff;
  font-family: "DM Sans";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header#header .header__container .header__toprow .header__nav .header__nav__list .header__nav__list--item .header__nav__list--link.active {
  color: #d41443;
}

header#header .header__container .header__toprow .header__nav .header__nav__list .header__nav__list--item .header__nav__list--link:hover {
  color: #d41443;
}

@media screen and (max-width: 768px) {
  header#header .header__container .header__toprow .header__nav .header__nav__list {
    display: none;
  }
}

header#header .header__container .header__toprow .header__btn {
  background-color: #fff;
  border-radius: 22px;
  min-width: 159px;
  height: 45px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #d41443;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

header#header .header__container .header__toprow .header__btn svg {
  margin-left: 10px;
}

header#header .header__container .header__toprow .header__btn:hover {
  background-color: #ecebeb;
}

header#header .header__container .header__main {
  margin: 80px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  header#header .header__container .header__main {
    margin: 15px 0 19px;
  }
}

header#header .header__container .header__main .header__main__left {
  max-width: 277px;
  margin-left: 65px;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  header#header .header__container .header__main .header__main__left {
    margin-left: 0;
    max-width: 165px;
  }
}

header#header .header__container .header__main .header__main__left .header__main__left--title {
  font-size: 38px;
  text-transform: uppercase;
  line-height: 43px;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  header#header .header__container .header__main .header__main__left .header__main__left--title {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}

header#header .header__container .header__main .header__main__left .header__main__left--title span {
  color: #d41443;
  font-size: 58px;
  line-height: 52px;
}

@media screen and (max-width: 768px) {
  header#header .header__container .header__main .header__main__left .header__main__left--title span {
    font-size: 34px;
    line-height: 30px;
  }
}

header#header .header__container .header__main .header__main__left .header__main__left__buttons .header__main__left__buttons--btn {
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}

@media screen and (max-width: 768px) {
  header#header .header__container .header__main .header__main__left .header__main__left__buttons .header__main__left__buttons--btn {
    font-size: 8px;
    line-height: 10px;
    padding: 7px 15px;
  }
}

header#header .header__container .header__main .header__main__left .header__main__left__buttons .header__main__left__buttons--btn:first-child {
  margin-right: 15px;
}

header#header .header__container .header__main .header__main__left .header__main__left__buttons .header__main__left__buttons--btn.btn--primary:hover {
  background-color: #c7133e;
}

header#header .header__container .header__main .header__main__left .header__main__left__buttons .header__main__left__buttons--btn.btn--secondary:hover {
  background-color: #ecebeb;
}

header#header .header__container .header__main .header__main__right .header__main__right__numbers {
  text-align: right;
  position: relative;
  z-index: 2;
}

header#header .header__container .header__main .header__main__right .header__main__right__numbers--number {
  display: block;
  color: #d41443;
  font-size: 46px;
  line-height: 52px;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 768px) {
  header#header .header__container .header__main .header__main__right .header__main__right__numbers--number {
    font-size: 28px;
    line-height: 15px;
  }
}

header#header .header__container .header__main .header__main__right .header__main__right__numbers--text {
  color: #fff;
  font-size: 14px;
  font-family: "DM Sans";
}

@media screen and (max-width: 768px) {
  header#header .header__container .header__main .header__main__right .header__main__right__numbers--text {
    font-size: 8px;
    line-height: 10px;
  }
}

header#header .header__container .header__main .header__main__right .header__main__right__numbers:first-child {
  margin-bottom: 20px;
}

header#header .header__container .header__main .header__main__right .header__main__right__numbers::before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: -5px;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  header#header .header__container .header__main .header__main__right .header__main__right__numbers::before {
    height: 16px;
    width: 16px;
    right: -9px;
    top: -11px;
  }
}

header#header .header__container .header__bottomrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header#header .header__container .header__bottomrow .header__bottomrow__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  header#header .header__container .header__bottomrow .header__bottomrow__left .header__bottomrow__left__image--img {
    width: 124px;
    height: 126px;
  }
}

header#header .header__container .header__bottomrow .header__bottomrow__left .header__bottomrow__left__text {
  max-width: 200px;
}

@media screen and (max-width: 768px) {
  header#header .header__container .header__bottomrow .header__bottomrow__left .header__bottomrow__left__text {
    max-width: 114px;
  }
}

header#header .header__container .header__bottomrow .header__bottomrow__left .header__bottomrow__left__text--para {
  font-family: "DM Sans";
  line-height: 19px;
  font-size: 14px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  header#header .header__container .header__bottomrow .header__bottomrow__left .header__bottomrow__left__text--para {
    font-size: 8px;
    line-height: 12px;
  }
}

header#header .header__container .header__bottomrow .header__bottomrow__left .header__bottomrow__left__text--arrow {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: url("http://127.0.0.1:5500/assets/img/arrow-right.png") center center no-repeat;
}

@media screen and (max-width: 768px) {
  header#header .header__container .header__bottomrow .header__bottomrow__left .header__bottomrow__left__text--arrow {
    width: 18px;
    height: 18px;
  }
}

header#header .header__container .header__bottomrow .header__bottomrow__right {
  z-index: 2;
  position: absolute;
  bottom: -3px;
  right: 3%;
  width: 293px;
  height: 232px;
  -webkit-animation: header-anim 2s;
          animation: header-anim 2s;
}

@media screen and (max-width: 768px) {
  header#header .header__container .header__bottomrow .header__bottomrow__right {
    width: 168px;
    height: 133px;
  }
}

header#header .header__container .header__bottomrow .header__bottomrow__right--img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

header#header .header__icecream {
  width: 538px;
  height: 538px;
  border-radius: 50%;
  position: absolute;
  left: 38%;
  top: 108px;
  background-color: #ffa5ba;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  header#header .header__icecream {
    height: 324px;
    width: 322px;
    left: 37%;
    top: 31px;
  }
}

header#header .header__icecream img {
  position: relative;
  top: 15%;
  left: 13%;
}

@media screen and (max-width: 768px) {
  header#header .header__icecream img {
    height: 336px;
    width: 144px;
    left: 20%;
    bottom: 0;
  }
}

header#header .header__navbar {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  header#header .header__navbar.show {
    right: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  header#header .header__navbar .header__navbar__buttons .header__navbar__buttons--closeBtn {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  header#header .header__navbar .header__navbar__buttons .header__navbar__buttons--btn {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  header#header .header__navbar .header__navbar__buttons {
    padding: 23px 34px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  header#header .header__navbar {
    width: 254px;
    height: 1020px;
    background-color: #e17992;
    position: absolute;
    right: -254px;
    opacity: 0;
    top: 0;
    z-index: 4;
  }
}

@-webkit-keyframes header-anim {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes header-anim {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */