@import '../styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  font-family: $primary-ff;
  color: white;
}

.container {
  margin: 0 auto;
}

.btn--primary {
  color: #fff;
  background-color: #d41443;
}

.btn--secondary {
  color: $primary-textColor;
  background-color: #fff;
}

@import './components/Header/_Header.scss';
