@import '../styles/_Variables.scss';
@import '../styles/_mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: $primary-ff;
  color: white;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn {
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  border-radius: 22px;
  transition: all 0.5s ease-in-out;
  padding: 12px 10px;
  line-height: 20px;

  svg {
    margin-left: 10px;
  }
}

.btn--primary {
  color: #fff;
  background-color: #d41443;
}

.btn--secondary {
  color: $primary-textColor;
  background-color: #fff;
}

span.label {
  display: block;
  color: $LabelPrimaryColor;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.04em;
  margin-bottom: 15px;
  text-transform: uppercase;

  @media screen and (max-width: $TabletScreen) {
    font-size: 26px;
    line-height: 29px;
    margin-bottom: 13px;
  }

  @media screen and (max-width: $MobileScreen) {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

h1.title {
  font-size: 58px;
  line-height: 66px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-textColor;

  @media screen and (max-width: $TabletScreen) {
    font-size: 48px;
    line-height: 54px;
  }

  @media screen and (max-width: $MobileScreen) {
    font-size: 34px;
    line-height: 38px;
  }
}

.footer__copyright {
  text-align: center;
  border-top: 1px solid #e1e1e1;
  color: #907e82;
  padding: 10px 0;
  font-family: $secondary-ff;
  background-color: #fff5f6;
}

@import './components/Header/_Header.scss';
@import './components/Products/_Products.scss';
@import './components/Navbar/_Navbar.scss';
@import './components/About/_About.scss';
@import './components/Gallery/_Gallery.scss';
@import './components/Reviews/_Reviews.scss';
@import './components/Contacts/_Contacts.scss';
@import './components/Footer/_Footer.scss';
